<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Playlist</title>
</head>
<body>
  <figure id="video_player">
    <video controls width="700px">
       <source src="Say My Name.mp4" type="video/mp4">
       <source src="Ralu Mawathe.mp4" type="video/mp4">
       <source src="videoplayback.mp4" type="video/mp4">
    </video>
    <figcaption>
      <ul>
        <li><a href="Say My Name.mp4">Say My Name</a></li>
        <li><a href="Ralu Mawathe.mp4">Ralu Mawathe</a></li>
        <li><a href="videoplayback.mp4">Countdown</a></li>
      </ul>
    </figcaption>
  </figure>
</body>
</html>
